body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #020617;
  padding: 20px;
  width: 350px;
  border-radius: 10px;
  text-align: center;
}

textarea {
  width: 100%;
  height: 80px;
  margin-top: 10px;
}

button {
  margin-top: 10px;
  width: 100%;
  padding: 8px;
  background: #22c55e;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

pre {
  text-align: left;
  margin-top: 10px;
  white-space: pre-wrap;
}
